<div class="home">
  <div class="home-content">
    
   <input type="text"  [(ngModel)]="albumId" (keyup.enter)="buscarAlbum()">

  <div class="mostrar" *ngIf="bandera; then mostrarAlbumes else mostrarAlbum">

  </div>

  </div>
</div>


<ng-template #mostrarAlbum>
  <div class="album" *ngIf="album">
    <p>Album</p>
    <img src="{{ album.nombre }}" alt="">
  </div>
</ng-template>

<ng-template #mostrarAlbumes>
  <div class="albumes" *ngFor="let talbum of albunes">
    <p>Albumes</p>
    <img src="{{ talbum.nombre }}" alt="">
  </div>
</ng-template>
